<div class="mb-5">
  <p class="">
 
    <a target="_BLANK" class="no-underline hover:underline text-blue-700" href="<%= feed.url %>"><%= feed.title %></a>
    <% if feed.language.present? %>
      - <span class="text-gray-600 text-sm"> language <%= feed.language&.upcase %> </span>
    <% end %> - 
    <span class="text-gray-600 text-sm"> created <%= "#{time_ago_in_words(feed.created_at, include_seconds: true)} ago" %></span></br>
  </p>
  <div class="mb-1">
    <span class="font-light overflow-ellipsis overflow-hidden text-green-600"><%= feed.url %></span>
  </div>
  <span class=""><%= feed.description %></span>
  <div>
    <span title="feed rank" class="bg-yellow-400 text-white inline-flex items-center justify-center px-2 py-1 text-xs leading-none rounded-sd">rank <%= feed.rank.round %></span>
    <span class="bg-gray-100 text-gray-600 inline-flex items-center justify-center px-2 py-1 text-xs leading-none rounded-sd"> entries <%= feed.entries_count %> </span>
    <span class="bg-gray-100 text-gray-600 inline-flex items-center justify-center px-2 py-1 text-xs leading-none rounded-sd"> language <%= feed.language.presence || 'not available' %></span>
    <span class="bg-gray-100 text-gray-600 inline-flex items-center justify-center px-2 py-1 text-xs leading-none rounded-sd"> created <%= "#{time_ago_in_words(feed.created_at, include_seconds: true)} ago" %></span>
  </div>
</div>