
<% if entries.present? %>
  <div class="mt-5 mb-5"><%= latest ? 'in the last 24 hours' : '' %> result <strong><%= @pagy.count %></strong> entries from <strong><%= (@total_entries || entries).pluck(:feed_id).uniq.size%></strong> feeds divided into <strong><%= @pagy.pages %></strong> pages</div>
  
  <div class="h-full bg-white p-3"> 
    <% entries.each do |entry| %>
      <%= render 'entry', entry: entry %>
    <% end %>
  
    <% if @pagy.pages > 1 %>
      <%== pagy_nav(@pagy).html_safe %>
    <% end %>
  </div>
<% else %>
  <div class="h-full bg-white p-3 mt-5">
  <% if params[:q].blank? %>
    <p> You must specify a search query to get results. <a class="underline text-red-400" href="/entries/search?q=weather">I'm feeling lucky!</a></p>
  <% else%>
    <p>Your search for - <strong><%= params[:q] %></strong> - did not match any entries. Try with another query!</p>
  <% end %>  
  </div>
<% end %>