
<% if entries.present? %>
  <div class="mt-5 mb-5">
    <% if @feed %>
      result <strong><%= @pagy.count %></strong> entries 
      <% if @timing %>
        <span class="text-gray-500">(<%=  @timing.real.round(4) %> sec)</span>
      <% end %>
    <% else %>
      <%= latest ? 'in the last 24 hours' : '' %> result <strong><%= @pagy.count %></strong> entries from <strong><%= entries.pluck(:feed_id).uniq.size %></strong> feeds <span class="text-gray-500">(<%=  @timing.real.round(4) %> sec)</span>
    <% end %>

    <% if params[:q].present? %>
      <div class="float-right rounded  bg-gray-100 border hover:underline border-gray-300 px-2 text-gray-600 md:flex hidden ml-1">
        <%= link_to 'rss', search_entries_path(format: 'rss', q: params[:q]), title: 'RSS feed URL', target: '_blank' %>
      </div>
    <% end %>

    <div class="float-right rounded  bg-gray-100 border hover:underline border-gray-300 px-2 text-gray-600 md:flex hidden">
      <% if @feed %>
          <%= link_to 'csv', entries_feed_path(id: @feed.id, q: params[:q], format: 'csv'), title: 'export feed entries as csv' %>
      <% else %>
        <% if latest %>
          <%= link_to 'csv', entries_path(format: 'csv'), title: 'export latest entries as csv' %>
        <% else %>
          <%= link_to 'csv', search_entries_path(format: 'csv', q: params[:q]), title: 'export entries as csv' %>
        <% end %>
      <% end %>
    </div>

    
  </div>
  
  <div class="bg-white p-3 overflow-ellipsis overflow-hidden"> 
    <% entries.each do |entry| %>
      <%= render 'shared/entry', entry: entry %>
    <% end %>
  
    <% if @pagy.pages > 1 %>
      <%== pagy_nav(@pagy).html_safe %>
    <% end %>
  </div>
<% else %>
  <div class="bg-white p-3 mt-5">
  <% if @feed %>
    <% if params[:q].blank? %>
      <p>There are no entries for this feed yet. Try again later!</p>
    <% else %>
       <p>Your search for - <strong><%= params[:q] %></strong> - did not match any entries into this feed. Try with another query!</p>
    <% end %>
  <% else %>
    <% if params[:q].blank? %>
      <p> You must specify a search query to get results. <a class="underline text-red-400" href="/entries/search?q=weather">I'm feeling lucky!</a></p>
    <% else%>
      <p>Your search for - <strong><%= params[:q] %></strong> - did not match any entries. Try with another query!</p>
    <% end %>
  <% end %>  
  </div>
<% end %>