<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140621816-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140621816-1');
    </script>
    <title>dato.rss</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Davide Santangelo">
    <meta name="description" content="dato.rss - RSS Search Engine - A search engine that allows you to find RSS feeds easily">
    <meta name="keywords" content="rails api web RSS">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="dato.rss - RSS Search Engine with RESTful API">
    <meta property="og:title" content="dato.rss - RSS Search Engine with RESTful API">
    <meta property="og:description" content="dato.rss - RSS Search Engine - A search engine that allows you to find RSS feeds easily">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": 'reload' %>
    <%= favicon_pack_tag 'favicon.png' %>
  </head>

  <body class=" font-arial min-h-screen h-full bg-gray-100">
    <div class="px-8 py-2">
      <div class="my-4">
        <% if params[:controller] == 'feeds' %>
          <%= link_to 'dato.rss', root_path, class: 'inline-block align-middle py-2 text-xl underline text-green-600', title: 'back to homepage'%>
        <% end %>

        <% if params[:controller] == 'entries' %>
          <%= link_to 'feed.rss', feeds_path, class: 'inline-block align-middle py-2 text-xl underline text-blue-600', title: 'back to feeds' %>
        <% end %>
      </div>
        <%= form_tag search_entries_path, method: :get do %>
          <%= text_field_tag 'q', params[:q], class: 'border border-gray-400 py-3 px-3 text-grey-darkest w-full rounded', placeholder: 'what are you looking for?', type: 'search' %>
        <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>