<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140621816-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140621816-1');
    </script>

    <title>dato.rss - RSS search engine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Davide Santangelo">
    <meta name="description" content="dato.rss - RSS search engine - a search engine that allows you to find RSS feeds easily">
    <meta name="keywords" content="rails api web RSS">
    <meta property="og:url" content="https://datorss.com">
    <meta property="og:image" content="https://datorss.com/logo.png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="datorss">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="dato.rss - the best RSS search experience you can find">
    <meta property="og:title" content="dato.rss - the best RSS search experience you can find">
    <meta property="og:description" content="dato.rss - RSS search engine - a search engine that allows you to find RSS feeds easily">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_pack_tag 'favicon.png' %>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
      window.addEventListener("load", function () {
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#252e39"
            },
            "button": {
              "background": "#14a7d0"
            }
          },
          "content": {
            "message": "We use cookies to help our site work and to understand how it is used. By continuing to browse the site you're agreeing to our use of cookies."
          }
        })
      });
    </script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>


  <span class="loading hidden absolute top-5 left-5">
    <i class="fas fa-circle-notch fa-spin text-2xl text-green-400"></i>
  </span>
  
  <body class="font-arial h-full">
    <div class="px-6 pb-0 overflow-ellipsis overflow-hidden">
      <div class="my-4">
        <%= link_to 'new [+]', new_feed_path, title: 'add new feed', class: "rounded float-right inline-block align-middle py-1 text-xl text-green-400 hover:underline" %>
      </div>
    </div>
    <%= yield %>
  </body>

  <footer class="absolute bottom-5 text-center w-full justify-self-center">
    <span class="text-gray-400">{ author: <a title="Davide Santangelo" href="https://twitter.com/daviducolo" title="made by Davide Santangelo" class="no-underline text-green-400  hover:text-blue-600">"@daviducolo"</a>, source: <a class="text-green-400 no-underline hover:text-black" href="https://github.com/davidesantangelo/dato.rss">"github"</a> }</span>
  </footer>
</html>